body {
  background-image: url(../images/2-fon-dlya-sayta.png);
}

#frame {
  width: 1000px;
  margin: 0 auto; /**выравнивает блок по центру**/
  background-color: white;
  display: table;
}

header {
  width: 90%; /**занимает 90% по ширине от нашего осовного блока**/
  height: 50px; /**высоту прописываем, чтобы увидеть пустой блок, когда появится в блоке контент, высоту можно будет убрать**/
  border: 1px solid black; /**рамку в последствии можно удалить, просто мы определяемся, что мол вот блок с которым мы в последствии будем работать**/
  margin: 0 auto; /**выравнивает блок по центру**/
  margin-top: 10px;
  text-align: center;
}

nav {
  background-color: gray;
  width: 90%; /**занимает 90% по ширине от нашего осовного блока**/
  height: 30px; /**высоту прописываем, чтобы увидеть пустой блок, когда появится в блоке контент, высоту можно будет убрать**/
  border: 1px solid black; /**рамку в последствии можно удалить, просто мы определяемся, что мол вот блок с которым мы в последствии будем работать**/
  box-shadow: 5px 5px 25px 2px black; /**задаем тень блоку меню**/
  margin: 0 auto; /**выравнивает блок по центру**/
  margin-top: 10px;
  font-size: 20px;
  font-family: comic sans ms;
  }

main {
  height: 400px; /** по добавлении контента - удалит**/
  width: 65%;
  margin: 10px;
  padding: 10px;
  float: left;
  border: 1px solid black;
  border-radius: 20px;
}

aside {
  width: 25%;
  height: 400px;
  margin: 10px;
  float: right; /**выравнивание блока относительно родительского контейнера**/
  border: 1px solid black;
}

.clear {
  clear: both; /**если мы используем обтекаемость flot нам рано или поздно нужно сказать, когда заканчиваются строки с обтекаемыми элементами, для этого используем пустой <div class="clear">**/
}

footer {
  width: 90%; /**занимает 90% по ширине от нашего осовного блока**/
  height: 50px; /**высоту прописываем, чтобы увидеть пустой блок, когда появится в блоке контент, высоту можно будет убрать**/
  border: 1px solid black; /**рамку в последствии можно удалить, просто мы определяемся, что мол вот блок с которым мы в последствии будем работать**/
  margin: 0 auto; /**выравнивает блок по центру**/
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#main {
  margin: 0; /**убираем отступы которые может подстаивть браузер**/
  padding: 0;
  padding-left: 10px;
}

#main li { /**прописываем стиль конкретно для <li> меню**/
  list-style: none; /**убираем маркетры списка**/
  display: inline-block; /**выстариваем пункты меню в одну строчку**/
  position: relative; /**задаем относительную позицию в нашем документе**/
}

#main li menu {/**задаем стили для вложенного подменю, когда оно раскрыто**/
position: absolute;/**задаем абсолютную позицию, чтобы оно у нас не смещалось куда не нужно**/
background-color: gray;
margin: 0; /**задаем отсутствие отступов, чтобы наше вложенное подменю было привязано к основному, нам не нужно, чтобы оно отступало**/
padding-right: 15px;
}

li menu { /**задаем стиль для вложенного подменю**/
  display: none; /**по умолчанию подменю не должнго быть видно, мы его скрываем. Чтобы сделать выпадающий список**/
}

#main li:hover menu{
  display: block; /**при наведение, отображаем вложенное подменю**/
}
